.loginPage {
  background-image: linear-gradient(lightblue, rgb(255, 255, 255));
  height: 100%;
  border: 2px solid black;
}

.loginHeader {
  display:grid;
  background-color: lightblue;
  border-bottom: 2px solid black;
  justify-content: center;
  text-align: center;
}

.loginEntry {
  display:grid;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}

.loginForm {
  display:grid;
  background-color: rgb(218, 246, 255);
  border: 2px solid black;
  padding: 10%;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.loginForm input {
  width: 75%;
}

.loginForm button {
  margin-left: 25%;
  width: 75%;
}
